.body-section {
  background-color: #f4f4f4;
  padding: 50px 0;
}

.body-content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 40px; 
}


.image-container {
  flex: 1;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.text-container {
  flex: 1;
  color: #333;
}


.text-container h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.text-container h3 {
  font-size: 18px;
  margin-top: 15px; 
  margin-bottom: 10px; 
  text-align: left; 
}


.text-container p,
.mission p,
.vision p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  margin-top: 0; 
  margin-bottom: 15px; 
  font-size : 16px;
}


.mission-vision {
  display: flex;
  gap: 80px;
  margin-top: 15px;
}

.mission,
.vision {
  flex: 1;
}


@media (max-width: 768px) {
  .body-content {
    flex-direction: column;
    text-align: left;
    padding: 0 20px;
  }

  .mission-vision {
    flex-direction: column;
    gap: 20px;
  }

 
  .text-container p,
  .mission p,
  .vision p {
    text-align: justify;
  }

 
  .text-container h3, 
  .text-container p {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
  }

 
  .text-container {
    padding: 0 20px;
  }
}
